'.text.md':
  'bold text':
    'prefix': 'b'
    'body': '**$1**$0'
  'embedded image':
    'prefix': 'img'
    'body': '![$1]($2)$0'
  'italic text':
    'prefix': 'i'
    'body': '_$1_$0'
  'link':
    'prefix': 'l'
    'body': '[$1]($2)$0'
  'link a':
    'prefix': 'a'
    'body': '[$1]($2)$0'
  'code':
    'prefix': 'code'
    'body': """
      ```$1
      $2
      ```$0
    """
  'todo':
    'prefix': 't'
    'body': '- [ ] $1'
  'table':
    'prefix': 'table'
    'body': """
      | ${1:Header One    } | ${2:Header Two    } |
      | :------------- | :------------- |
      | ${3:Item One      } | ${4:Item Two      } |$0
    """
  "front matter":
    'prefix': "fm"
    'body': """
      ---
      layout: ${1:post}
      title: $2
      date: $3
      categories: $4
      comments: ${5:true}
      ---$0
    """
