# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'MarkDown Writer'
      'submenu': [
        {
          'label': 'Add New Post',
          'command': 'md-writer:new-post'
        }
        {
          'label': 'Add Tags',
          'command': 'md-writer:add-tags'
        }
        {
          'label': 'Add Categories',
          'command': 'md-writer:add-categories'
        }
        {
          'label': 'Add A Link',
          'command': 'md-writer:add-links'
        }
      ]
    ]
  }
]
