# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'MarkDown Writer'
      'submenu': [
        {
          'label': 'Add New Draft',
          'command': 'markdown-writer:new-draft'
        }
        {
          'label': 'Add New Post',
          'command': 'markdown-writer:new-post'
        }
        {
          'label': 'Publish Draft',
          'command': 'markdown-writer:publish-draft'
        }
        {
          'label': 'Manage Post Tags',
          'command': 'markdown-writer:manage-post-tags'
        }
        {
          'label': 'Manage Post Categories',
          'command': 'markdown-writer:manage-post-categories'
        }
        {
          'label': 'Insert Link',
          'command': 'markdown-writer:insert-link'
        }
        {
          'label': 'Insert Image',
          'command': 'markdown-writer:insert-image'
        }
        {
          'label': 'Toggle Code Text',
          'command': 'markdown-writer:toggle-code-text'
        }
        {
          'label': 'Toggle CodeBlock Text',
          'command': 'markdown-writer:toggle-codeblock-text'
        }
        {
          'label': 'Toggle Bold Text',
          'command': 'markdown-writer:toggle-bold-text'
        }
        {
          'label': 'Toggle Italic Text',
          'command': 'markdown-writer:toggle-italic-text'
        }
        {
          'label': 'Toggle Keystroke Text',
          'command': 'markdown-writer:toggle-keystroke-text'
        }
        {
          'label': 'Toggle Strikethrough Text',
          'command': 'markdown-writer:toggle-strikethrough-text'
        }
        {
          'label': 'Toggle Heading 1'
          'command': 'markdown-writer:toggle-h1'
        }
        {
          'label': 'Toggle Heading 2'
          'command': 'markdown-writer:toggle-h2'
        }
        {
          'label': 'Toggle Heading 3'
          'command': 'markdown-writer:toggle-h3'
        }
        {
          'label': 'Toggle Heading 4'
          'command': 'markdown-writer:toggle-h4'
        }
        {
          'label': 'Toggle Heading 5'
          'command': 'markdown-writer:toggle-h5'
        }
        {
          'label': 'Toggle Unordered List'
          'command': 'markdown-writer:toggle-ul'
        }
        {
          'label': 'Toggle Ordered List'
          'command': 'markdown-writer:toggle-h5'
        }
        {
          'label': 'Toggle Blockquote'
          'command': 'markdown-writer:toggle-blockquote'
        }
      ]
    ]
  }
]
