".platform-darwin":
  ".editor":
    "cmd-k": "markdown-writer:insert-link"
    "cmd-i": "markdown-writer:toggle-italic-text"
    "cmd-b": "markdown-writer:toggle-bold-text"
    "cmd-'": "markdown-writer:toggle-code-text"
    "cmd-h": "markdown-writer:toggle-strikethrough-text"
    "alt-1": "markdown-writer:toggle-h1"
    "alt-2": "markdown-writer:toggle-h2"
    "alt-3": "markdown-writer:toggle-h3"
    "alt-4": "markdown-writer:toggle-h4"
    "alt-5": "markdown-writer:toggle-h5"

".platform-win32":
  ".editor":
    "ctrl-k": "markdown-writer:insert-link"
    "ctrl-i": "markdown-writer:toggle-italic-text"
    "ctrl-b": "markdown-writer:toggle-bold-text"
    "ctrl-'": "markdown-writer:toggle-code-text"
    "ctrl-h": "markdown-writer:toggle-strikethrough-text"
    "ctrl-1": "markdown-writer:toggle-h1"
    "ctrl-2": "markdown-writer:toggle-h2"
    "ctrl-3": "markdown-writer:toggle-h3"
    "ctrl-4": "markdown-writer:toggle-h4"
    "ctrl-5": "markdown-writer:toggle-h5"

".platform-linux":
  ".editor":
    "ctrl-k": "markdown-writer:insert-link"
    "ctrl-i": "markdown-writer:toggle-italic-text"
    "ctrl-b": "markdown-writer:toggle-bold-text"
    "ctrl-'": "markdown-writer:toggle-code-text"
    "ctrl-h": "markdown-writer:toggle-strikethrough-text"
    "ctrl-1": "markdown-writer:toggle-h1"
    "ctrl-2": "markdown-writer:toggle-h2"
    "ctrl-3": "markdown-writer:toggle-h3"
    "ctrl-4": "markdown-writer:toggle-h4"
    "ctrl-5": "markdown-writer:toggle-h5"
